/* css file for Web development assignment */

* {
  box-sizing: border-box;
}

nav {
  display: inline;
}

h1 {
  font-size: 1rem;
  font-weight: 700;
}


nav a {
  color: black;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding: 0;

}

main {
  max-width: 840px;
}

aside {
  width: 21em;
  margin: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: rgba(129, 130, 116, 0.4);
  color: rgba(16, 69, 79, 0.9);
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  width: 150px;
  height: auto;
}

p {
  padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;

}
